<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand" title="PI_12"><i class="fa fa-leaf text-success"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Ingredientes", "Index", "Ingredientes")</li>
                        <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                        <li>@Html.ActionLink("Categoria", "Index", "Classes")</li>

                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @RenderSection("banners", required: false)
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-text small">
                @if (DateTime.Now.Year > 2020)
                {
                    @Html.Raw(String.Format("&copy; 2020-{0:yy}", DateTime.Now))<text> - <a href="#" target="_blank" title="Nome da Aplicação"> Nome da Aplicação</a></text>

                }
                else
                {
                    @Html.Raw(String.Format("&copy; {0:yyyy}", DateTime.Now))<text> - <a href="/" target="_blank" title="Nome da Aplicação"> PI_12</a></text>

                }
            </div>
            <div class="navbar-right navbar-text small hidden-sm"><a href="http://www.ua.pt" target="_blank" title="Universidade de Aveiro">Universidade de Aveiro</a></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
