@model PI_BackOffice.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<h4>Change your account settings</h4>
<hr />
<dl class="dl-horizontal">
    <dt class="form-control-static">@Html.LabelFor(m => m.FullName, new { @class = "control-label" })</dt>
    <dd class="form-control-static">@Html.Raw(Model.FullName)</dd>
    <dt class="form-control-static">@Html.LabelFor(m => m.Gender, new { @class = "control-label" })</dt>
    <dd class="form-control-static">
        @if (Model.Gender == "M")
        {
            <i class="fa fa-mars" title="Masculino"></i>
        }
        else if (Model.Gender == "F")
        {
            <i class="fa fa-venus" title="Feminino"></i>
        }
        else
        {
            <i class="fa fa-genderless" title="Indefinido"></i>
        }
    </dd>
    <dt class="form-control-static">@Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })</dt>
    <dd class="form-control-static"><span class="form-control-static">@Html.Raw(String.Format("{0:yyyy-MM-dd}", Model.BirthDate))</span></dd>
    <dt class="form-control-static">Password:</dt>
    <dd class="form-control-static">
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-default btn-sm" })
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-default btn-sm" })
        }
    </dd>
    <dt></dt>
    <dd><hr /></dd>
    <dt></dt>
    <dd>@Html.ActionLink("Edit Personal Data", "EditUser", null, new { @class = "btn btn-default" })</dd>
    <dt></dt>
    <dd><hr /></dd>
    <dt class="form-control-static">External Logins:</dt>
    <dd class="form-control-static">
        @Model.Logins.Count
        @if (@Model.Logins.Count > 0)
        {
            @Html.ActionLink("Manage", "ManageLogins", null, new { @class = "btn btn-default" })
        }
    </dd>
    @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

         See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

         Uncomment the following block after you have set up two-factor authentication
    *@
    @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
    *@
    <dt class="form-control-static">Two-Factor Authentication:</dt>
    <dd class="form-control-static">
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
    </dd>
</dl>