@model IEnumerable<PI_12_BO.Models.Menu_Produto>
<p>
    <a class="btn btn-default" title="Adicionar Ingrediente" data-toggle="modal" data-target="#myModal">Create New</a>
</p>
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-4">@Html.DisplayNameFor(model => model.Produto.Nome)</th>
                <th class="col-sm-2 text-center">@Html.DisplayNameFor(model => model.Quantidade)</th>
                <th class="col-sm-2 text-center">@Html.DisplayNameFor(model => model.Produto.PrecoBase)</th>
                <th class="col-sm-2"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Produto.Nome)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Quantidade)</td>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Produto.PrecoBase) €</td>
                <td class="text-right">
                    <a href="#removeModal" data-toggle="modal" data-menuid="@item.Menu_ID" data-menunome="@item.Menu.Nome" data-produtoid="@item.Produto.ID" data-produtonome="@item.Produto.Nome" data-quantidade="@item.Quantidade" title="Remover Produto de Menu" class="btn btn-default btn-sm removeItem">Remove</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="bs-callout bs-callout-info">
        <h4><i class="fa fa-info-circle"></i> Informação</h4>
        <p>Não existem, neste momento, elementos para representar.</p>
    </div>
}
@Html.Action("_ProdutosParaMenu", "Menu_Produto", new { Menu_ID = @ViewBag.Menu_ID })
@Html.Action("_ProdutoEmMenu", "Menu_Produto", new { Menu_ID = @ViewBag.Menu_ID, Produto_ID = 1 })

