@model PI_BackOffice.Models.Ingrediente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
